<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="automation.common.Base" />
			<class name="automation.testexeution.ui.Test_Page_01" />
			<class name="automation.testexeution.ui.Test_Page_02" />
			<class name="automation.testexeution.ui.Test_Page_03" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
